.Form-input_text {
    padding:5px; 
    border-bottom:2px solid red; 
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 10px;
}

.Form-input_text:focus {
    border-color:#333;
}

.Form-input_Submit {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}

.Form--replace_style{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}